{% extends 'account/base.html' %}

{% block content %}
<div class="container">
  <div class="my-4"><h1 class='mb-2'><i class="fas fa-book-open"></i> Libro</h1></div>
 <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Add/Remove</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>

      </tr>
    </thead>
    <tbody>
        {% for order_item in object.items.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{order_item.item.name}}</td>
        <td>{{order_item.item_quantity}}</td>
        <td>₱ {{order_item.item.price}}</td>
        <td>₱ {{order_item.get_total_item_price}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="5"><strong>Order Total</strong></td>
        <td><strong>₱ {{object.get_total}}</strong></td>
      </tr>
      <tr>
        <td colspan="6"> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}