{% extends 'account/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-3"><strong>Beverages</strong></h1>
    <hr>
    <div class="row">
        {% for obj in object_list %}
            {% if obj.categories == "Beverage" %}
                <div class="col-lg-3 col-md-6 my-3 justify-content-center">
                    <img src="{{ obj.img.url }}" alt="">
                </div>
                <div class="col-lg-8 col-md-5 my-4 px-5">
                    <h4><strong>{{obj.name}}</strong></h4>
                    <p>{{obj.description|truncatechars:200}}</p>
                    {% if obj.categories == "Beverage" %}
                    <form method="POST" action="{{ obj.get_add_to_cart_store_page_url }}" enctype='multipart/form-data'>
                      {% csrf_token %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{obj.beverage_s_price|floatformat:2}}" checked>
                        <label class="form-check-label" for="inlineRadio1"><strong name="inlineSizes" value="Small">Small </strong>₱ {{obj.beverage_s_price|floatformat:2 }}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_t_price|floatformat:2 }}">
                        <label class="form-check-label" for="inlineRadio2"><strong name="inlineSizes">Tall </strong>₱ {{obj.beverage_t_price|floatformat:2 }}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="{{obj.beverage_g_price|floatformat:2 }}">
                        <label class="form-check-label" for="inlineRadio3"><strong name="inlineSizes">Grande </strong>₱ {{obj.beverage_g_price|floatformat:2 }}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="{{obj.beverage_v_price|floatformat:2 }}">
                        <label class="form-check-label" for="inlineRadio4"><strong name="inlineSizes">Venti </strong>₱ {{obj.beverage_v_price|floatformat:2 }}</label>
                      </div>
                      <div class="mt-2">
                        <small class="ml-5">Add to cart</small>
                        <button type="submit" class="btn btn-primary btn-md my-0 p"><i class="fas fa-plus"></i></a></button>
                        <a href="{{ obj.get_remove_from_cart_store_page_url }}" class="btn btn-danger btn-md my-0 p">
                          <i class="fas fa-minus"></i></a>
                      </div>
                    </form>
                </div>
                <hr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container my-5">
  <h1 class="mb-3"><strong>Pasta</strong></h1>
  <hr>
  <div class="row">
      {% for obj in object_list %}
          {% if obj.categories == "Pasta" %}
              <div class="col-lg-3 col-md-6 my-3 justify-content-center">
                  <img src="{{ obj.img.url }}" alt="">
              </div>
              <div class="col-lg-8 col-md-5 my-4 px-5">
                  <h4><strong>{{obj.name}}</strong></h4>
                  <p>{{obj.description|truncatechars:200}}</p>
                  {% if obj.categories == "Beverage" %}
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{obj.beverage_s_price}}">
                      <label class="form-check-label" for="inlineRadio1"><strong>Small </strong>₱ {{obj.beverage_s_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_t_price}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Tall </strong>₱ {{obj.beverage_t_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_g_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Grande </strong>₱ {{obj.beverage_g_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_v_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Venti </strong>₱ {{obj.beverage_v_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories == "Cake" %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_slice_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Slice </strong>₱ {{obj.cake_slice_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_whole_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Whole </strong>₱ {{obj.cake_whole_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories != "Beverage" and obj.categories != "Cake" %}
                    <div class="">
                      <h6>₱ {{obj.price}}</h6>
                    </div>
                    {% endif %}
                    <div class="mt-2">
                      <small class="ml-5">Add to cart</small>
                      <a href="{{ obj.get_add_to_cart_store_page_url }}" class="btn btn-primary btn-md my-0 p" disabled>
                        <i class="fas fa-plus"></i></a>
                      <a href="{{ obj.get_remove_from_cart_store_page_url }}" class="btn btn-danger btn-md my-0 p">
                        <i class="fas fa-minus"></i></a>
                    </div>
              </div>
              <hr>
          {% endif %}
      {% endfor %}
  </div>
</div>

<div class="container my-5">
  <h1 class="mb-3"><strong>Cake</strong></h1>
  <hr>
  <div class="row">
      {% for obj in object_list %}
          {% if obj.categories == "Cake" %}
              <div class="col-lg-3 col-md-6 my-3 justify-content-center">
                  <img src="{{ obj.img.url }}" alt="">
              </div>
              <div class="col-lg-8 col-md-5 my-4 px-5">
                  <h4><strong>{{obj.name}}</strong></h4>
                  <p>{{obj.description|truncatechars:200}}</p>
                  {% if obj.categories == "Beverage" %}
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{obj.beverage_s_price}}">
                      <label class="form-check-label" for="inlineRadio1"><strong>Small </strong>₱ {{obj.beverage_s_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_t_price}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Tall </strong>₱ {{obj.beverage_t_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_g_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Grande </strong>₱ {{obj.beverage_g_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_v_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Venti </strong>₱ {{obj.beverage_v_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories == "Cake" %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_slice_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Slice </strong>₱ {{obj.cake_slice_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_whole_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Whole </strong>₱ {{obj.cake_whole_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories != "Beverage" and obj.categories != "Cake" %}
                    <div class="">
                      <h6>₱ {{obj.price}}</h6>
                    </div>
                    {% endif %}
                    <div class="mt-2">
                      <small class="ml-5">Add to cart</small>
                      <a href="{{ obj.get_add_to_cart_store_page_url }}" class="btn btn-primary btn-md my-0 p" disabled>
                        <i class="fas fa-plus"></i></a>
                      <a href="{{ obj.get_remove_from_cart_store_page_url }}" class="btn btn-danger btn-md my-0 p">
                        <i class="fas fa-minus"></i></a>
                    </div>
              </div>
              <hr>
          {% endif %}
      {% endfor %}
  </div>
</div>

<div class="container my-5">
  <h1 class="mb-3"><strong>Bakery</strong></h1>
  <hr>
  <div class="row">
      {% for obj in object_list %}
          {% if obj.categories == "Bakery" %}
              <div class="col-lg-3 col-md-6 my-3 justify-content-center">
                  <img src="{{ obj.img.url }}" alt="">
              </div>
              <div class="col-lg-8 col-md-5 my-4 px-5">
                  <h4><strong>{{obj.name}}</strong></h4>
                  <p>{{obj.description|truncatechars:200}}</p>
                  {% if obj.categories == "Beverage" %}
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{obj.beverage_s_price}}">
                      <label class="form-check-label" for="inlineRadio1"><strong>Small </strong>₱ {{obj.beverage_s_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_t_price}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Tall </strong>₱ {{obj.beverage_t_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_g_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Grande </strong>₱ {{obj.beverage_g_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_v_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Venti </strong>₱ {{obj.beverage_v_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories == "Cake" %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_slice_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Slice </strong>₱ {{obj.cake_slice_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_whole_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Whole </strong>₱ {{obj.cake_whole_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories != "Beverage" and obj.categories != "Cake" %}
                    <div class="">
                      <h6>₱ {{obj.price}}</h6>
                    </div>
                    {% endif %}
                    <div class="mt-2">
                      <small class="ml-5">Add to cart</small>
                      <a href="{{ obj.get_add_to_cart_store_page_url }}" class="btn btn-primary btn-md my-0 p" disabled>
                        <i class="fas fa-plus"></i></a>
                      <a href="{{ obj.get_remove_from_cart_store_page_url }}" class="btn btn-danger btn-md my-0 p">
                        <i class="fas fa-minus"></i></a>
                    </div>
              </div>
              <hr>
          {% endif %}
      {% endfor %}
  </div>
</div>

<div class="container my-5">
  <h1 class="mb-3"><strong>Sandwiches</strong></h1>
  <hr>
  <div class="row">
      {% for obj in object_list %}
          {% if obj.categories == "Sandwiches" %}
              <div class="col-lg-3 col-md-6 my-3 justify-content-center">
                  <img src="{{ obj.img.url }}" alt="">
              </div>
              <div class="col-lg-8 col-md-5 my-4 px-5">
                  <h4><strong>{{obj.name}}</strong></h4>
                  <p>{{obj.description|truncatechars:200}}</p>
                  {% if obj.categories == "Beverage" %}
                  <form method="POST">
                    {% csrf_token %}
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_s_price}}" checked>
                      <label class="form-check-label" for="inlineRadio2"><strong>Small </strong>₱ {{obj.beverage_s_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_t_price}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Tall </strong>₱ {{obj.beverage_t_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_g_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Grande </strong>₱ {{obj.beverage_g_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.beverage_v_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Venti </strong>₱ {{obj.beverage_v_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories == "Cake" %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_slice_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Slice </strong>₱ {{obj.cake_slice_price|floatformat:2 }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{obj.cake_whole_price}}">
                      <label class="form-check-label" for="inlineRadio2"><strong>Whole </strong>₱ {{obj.cake_whole_price|floatformat:2 }}</label>
                    </div>
                    {% endif %}
                    {% if obj.categories != "Beverage" and obj.categories != "Cake" %}
                    <div class="">
                      <h6>₱ {{obj.price}}</h6>
                    </div>
                    {% endif %}
                  </form>
                    <div class="mt-2">
                      <small class="ml-5">Add to cart</small>
                      <a href="{{ obj.get_add_to_cart_store_page_url }}" class="btn btn-primary btn-md my-0 p" disabled>
                        <i class="fas fa-plus"></i></a>
                      <a href="{{ obj.get_remove_from_cart_store_page_url }}" class="btn btn-danger btn-md my-0 p">
                        <i class="fas fa-minus"></i></a>
                    </div>
              </div>
              <hr>
          {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}

